<footer class="text-center text-lg-start text-white bg-dark" >
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on Social network ---></span>
        </div>
        <div>
            <a href="" class="me-4 text-reset"><i class="fa fa-facebook" style="color: rgb(80, 80, 255);"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-twitter" style="color: aqua;"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-google" style="color: red;"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-instagram" style="color: rgb(238, 31, 228);"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-linkedin" style="color: rgb(38, 38, 253);"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-github" style="color: #ffffffff;"></i></a>
        </div>
    </section>

    <section>
        <div class="container text-md-start text-center mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h5 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus" style="color: orange;"></i> &nbsp;&nbsp;Shop<span style="color: orange;">Kart</span></h5>
                    <p>
                        Shopkart.com is a one stop destination for your family's fashion needs.
                        We give you the oppertunity to give your wardrop a makeover with the latest collection from our top brand
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="#!" class="text-reset">Grocery</a></p>
                    <p><a href="#!" class="text-reset">Mobiles</a></p>
                    <p><a href="#!" class="text-reset">Baby Products</a></p>
                    <p><a href="#!" class="text-reset">Electronics</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                    <p><a href="#!" class="text-reset">Home</a></p>
                    <p><a href="#!" class="text-reset">Collections</a></p>
                    <p><a href="#!" class="text-reset">Cart</a></p>
                    <p><a href="#!" class="text-reset">Favourite</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-4 mb-md-0">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fa fa-home" style="color: orange;"></i>&nbsp;&nbsp;Vicky</p>
                    <p><i class="fa fa-envelope" style="color: skyblue;"></i>&nbsp;&nbsp;Vicky6369ece@gmail.com</p>
                    <p><i class="fa fa-phone" style="color: green;"></i>&nbsp;&nbsp;+91 6369351710</p>
                    
                </div>
            </div>
        </div>
    </section>
</footer>