{% for msg in messages %}
{% if request.user.is_authenticated %}
<div class="alert alert-success alert-dismissible fade show" role="alert" style=" background-color: green; color: #ffffff;">
    {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close" sty></button>
</div>
{% else %}
<div class="alert alert-success alert-dismissible fade show" role="alert" style=" background-color: red; color: #ffffff;">
    {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close" sty></button>
</div>
{% endif %}
{% endfor %}