{% extends 'shop/layouts/main.html' %}
{% block title %}
Registration | Shopkart
{% endblock title %}

{% block content %}

<div class="py-5 text-center container"style="margin-top: 70px;"> 
<section class="bg-light py-4 my-1">
    <div class="container">
        <div class="row">
           <div class="col-lg-12">
            <h4 class="mb-3">Cart Items</h4>
            <hr style="border-color: gray;">
           </div>
           <table class="table table-bordered">
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Remove</th>
            </tr>
            {% for item in Cart %}
            <tr>
                <td><img src="{{item.product.product_image.url}}" height="130px" width="120px" alt=""></td>
                <td>{{item.product.name}}</td>
                <td>{{item.product.selling_price | stringformat:'d'}}</td>
                <td>{{item.product_qty}}</td>
                <td class="amt">{{item.total_cost  | stringformat:'d'}}</td>
                <td><a href="{% url 'remove_cart' item.id%}" class="btn btn-danger" onclick="return confirm('Are you sure ? to Remove')"><i class="fa fa-trash"></i>&nbsp;&nbsp;Remove</a></td>
            </tr>
           {% endfor %}
           <tr>
                <td></td>
                <td></td>
                <td colspan="2"><b>Total Amount</b></td>
                <td id="net" style="font-weight: bold;"><b>0</b></td>
           </tr>
           <tr>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="4">
                <a href="{% url 'cart_to_payment' %}" class="btn " style="background-color: green; color: #ffffffff;"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;<b>Place Order</b></a>
            </td>
           </tr>
           </table>
        </div>
    </div>
</section>
</div>
<script>
const nodes = document.querySelectorAll('.amt');
const arr = Array.from(nodes);
const res = arr.reduce((acc, curr) => {
    return acc + Number(curr.textContent);
}, 0);
document.getElementById('net').innerHTML = 'Rs : ' + res;
</script>
{% endblock content %}
