{% extends 'shop/layouts/main.html' %}

{% block title %}
Registration | Shopkart
{% endblock title %}

{% block content %}

<style>
    body { background: #f5f5f5 }
    .rounded { border-radius: 1rem }
    .nav-pills .nav-link { color: #555 }
    .nav-pills .nav-link.active { color: white }
    input[type="radio"] { margin-right: 5px }
    .bold { font-weight: bold }
</style>
<div style="margin-top: 70px; margin-left: 10px;">
    {% include 'shop/inc/message.html' %}
    <section class="bg-light py-3 min-vh-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5 class="text-uppercase fw-bold mb-3">
                        <i class="fa fa-cart-plus" style="color: orange;"></i>&nbsp;&nbsp;Shop<span style="color: orange;">Kart</span>
                    </h5>
                    <h5 class="text-center">Checkout</h5>
                </div>

                <table class="table">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for item in cart %}
                   
                    <tr>
                        <td> <input type="hidden" value="{{item.product.id}}" id="pid"></td>
                        <td><img src="{{ item.product.product_image.url }}" style="width: 160px; height: 130px;" class="card-image-top rounded mx-auto d-block" alt="{{ products }}"></td>
                        <td class="text-end">
                                <b class="text-info" id="p_name">{{ item.product.name | upper }}</b>
                                <b>(Quantity {{ item.product_qty }})</b>
                                <p class="text-danger">Product Price : Rs.{{ item.product.selling_price | stringformat:'d' }}</p>
                                <b class="text-success">Total Price</b><p><b>Rs.</b><b class="amt">{{ item.total_cost | stringformat:'d'}}</b></p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

                <div class="col-12">
                    
                    <table class="table table">
                        <tr>
                            <th class="text-start text-primary">Your shipping address</th>
                            <th></th>
                            <th></th>
                            <th class="col-lg-6 col-md-12 text-end">Payment Options</th>
                        </tr>
                        {% for address in address %}
                        <tr>
                            <td class="col-lg-4 col-md-12">
                                <li><b id="address">{{ address }}</b></li>
                                <li><b id="address">{{ address.postal_code }}</b></li>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <li> <b id="user">{{address.first_name}}</b> <b id="user">{{address.last_name}}</b></li>
                               <li><i class="fa fa-phone"></i> <b id="phone_number">    {{address.phone_number}}</b></li>
                               <li><i class="fa fa-envelope"></i><b id="email">     {{address.email}}</b></li>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr >
                            <td ><b>Total Amount</b></td>
                            <td id="net" class="text-success Total_price" style="font-weight: bold;"><b>0</b></td>
                            <td></td>
                            <td class="text-end"><button class="btn btn payWithRazorpay" style="background-color: orange;"><b>Pay Now</b></button></td>
                        </tr>
                    </table>
                    
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    const nodes = document.querySelectorAll('.amt');
    const arr = Array.from(nodes);
    const res = arr.reduce((acc, curr) => {
        return acc + Number(curr.textContent); 
    }, 0);
    document.getElementById('net').innerHTML = 'Rs : ' + res;
</script>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var username = document.getElementById('user').innerText;
    var phone_number = document.getElementById('phone_number').innerText;
    var email = document.getElementById('email').innerText;
    var address = document.getElementById('address').innerText;
    var p_name = document.getElementById('p_name').innerText;
    var pid = document.getElementById('pid');

    $(document).ready(function(){
        $('.payWithRazorpay').click(function(e){
            e.preventDefault();            
            $.ajax({
                method: 'GET',
                url: '/proceed_to_pay2',
                success: function(res){
                    console.log(res);

                    var options = {
                        "key": "rzp_test_i4a0biIi9G3it3",
                        "amount": res.total_price * 100,
                        "currency": "INR",
                        "name": "Shop Kart",
                        "description":p_name,
                        "image": "",
                        "handler": function(response) {
                            swal({
                                title: "Your Order is Confirmed!",
                                text: 'Order Id: ' + response.razorpay_payment_id + '\nProduct Name: ' + document.getElementById('p_name').innerText,
                                icon: "success",
                                button: "Ok",
                            }).then(() => {

                                let postObj = { 
                                    'pid': pid.value,
                                }
                                console.log(postObj);
                            
                                fetch("/order_page", {
                                    method: 'POST',
                                    credentials: 'same-origin',
                                    headers: {
                                        'Accept': 'application/json',
                                        'X-Requested-With': 'XMLHttpRequest',
                                        'X-CSRFToken': '{{ csrf_token }}',
                                    },
                                    body: JSON.stringify(postObj)
                                }).then((value) => {
                                    window.location.href = '/order_page_view';
                                });
                            });
                        },
                        "prefill": {
                            "name": username,
                            "email": email, 
                            "contact": phone_number
                        },
                        
                        "notes": {
                            "address": address,
                            "pin code":address.postal_code,
                        },
                        "theme": {
                            "color": "#ffA500"
                        },
                    };

                    var rzp1 = new Razorpay(options);

                    rzp1.on('payment.failed', function (response){
                        alert(response.error.code);
                        alert(response.error.description);
                        alert(response.error.source);
                        alert(response.error.step);
                        alert(response.error.reason);
                        alert(response.error.metadata.order_id);
                        alert(response.error.metadata.payment_id);
                    });

                    rzp1.open();
                }
            });
        });
    });
</script>

{% endblock content %}
